Assets filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/AppIcon.appiconset/256x256.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/DriveSyncIcon.imageset/hdd.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconSync.imageset/Tray_synchronizing.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/images/Tutorial3.imageset/image@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/SettingsIcon.imageset/settings@3x.png filter=lfs diff=lfs merge=lfs -text
Provider/Provider.xcassets/AppIcon.appiconset/128x128@2x.png filter=lfs diff=lfs merge=lfs -text
Assets/App.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/DriveErrorIcon.imageset/hdd@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIcon.imageset/Tray_general@2x[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconError.imageset/Tray_error@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/images/CubbitLogo.imageset/CubbitLogo@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/ArrowWestIcon.imageset/west@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/ShowPasswordIcon.imageset/invisible.png filter=lfs diff=lfs merge=lfs -text
Provider/Provider.xcassets/AppIcon.appiconset/512x512@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/images/Tutorial2.imageset/image.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/MFAIcon.imageset/verified_user@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/UserIcon.imageset/accessibility.png filter=lfs diff=lfs merge=lfs -text
Provider/Provider.xcassets/AppIcon.appiconset/16x16@2x.png filter=lfs diff=lfs merge=lfs -text
Assets/Tutorial1.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/images/Tutorial2.imageset/image@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/DrivePlayIcon.imageset/hdd.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconOffline.imageset/Tray_offline@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconPause.imageset/Tray_pause[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconInfo.imageset/Tray_action_needed.png filter=lfs diff=lfs merge=lfs -text
Provider/Provider.xcassets/AppIcon.appiconset/128x128.png filter=lfs diff=lfs merge=lfs -text
Provider/Provider.xcassets/AppIcon.appiconset/32x32@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconPause.imageset/Tray_pause@2x[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
Assets/Login.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/AppIcon.appiconset/32x32@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/DropdownIcon.imageset/expand_more@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/PasswordIcon.imageset/lock@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconInfo.imageset/Tray_action_needed@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/FolderIcon.imageset/folder@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/SettingsIcon.imageset/settings@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIcon.imageset/Tray_general@3x[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconSync.imageset/Tray_synchronizing@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/images/Tutorial1.imageset/image@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/DriveIdleIcon.imageset/hdd@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/FinderIcon.imageset/Finder_general@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconSync.imageset/Tray_synchronizing@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/DriveIdleIcon.imageset/hdd.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconInfo.imageset/Tray_action_needed[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIcon.imageset/Tray_general@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconPause.imageset/Tray_pause@3x[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/images/CubbitLogo.imageset/CubbitLogo.png filter=lfs diff=lfs merge=lfs -text
Provider/Provider.xcassets/AppIcon.appiconset/256x256.png filter=lfs diff=lfs merge=lfs -text
Provider/Provider.xcassets/AppIcon.appiconset/512x512.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/MFAIcon.imageset/verified_user@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/PasswordIcon.imageset/lock.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconError.imageset/Tray_error[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconInfo.imageset/Tray_action_needed@3x[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconSync.imageset/Tray_synchronizing@3x[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconPause.imageset/Tray_pause.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/AppIcon.appiconset/512x512@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/DriveIdleIcon.imageset/hdd@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/ShowPasswordIcon.imageset/invisible@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconError.imageset/Tray_error@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconOffline.imageset/Tray_offline@3x.png filter=lfs diff=lfs merge=lfs -text
Assets/Logo.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/InfoIcon.imageset/circle@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/images/Tutorial3.imageset/image@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconOffline.imageset/Tray_offline@2x[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/WarningIcon.imageset/report_problem.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/images/CubbitLogo.imageset/CubbitLogo@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/images/Tutorial2.imageset/image@3x.png filter=lfs diff=lfs merge=lfs -text
Assets/Tutorial2.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/AppIcon.appiconset/16x16@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/ArrowWestIcon.imageset/west.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/SettingsIcon.imageset/settings.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconSync.imageset/Tray_synchronizing[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/DrivePlayIcon.imageset/hdd@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/InfoIcon.imageset/circle.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/UserIcon.imageset/accessibility@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/DriveErrorIcon.imageset/hdd.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/ArrowWestIcon.imageset/west@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconPause.imageset/Tray_pause@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/driveIcon.imageset/hdd.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/driveIcon.imageset/hdd@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/driveIcon.imageset/hdd@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIcon.imageset/Tray_general[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconError.imageset/Tray_error.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconError.imageset/Tray_error@2x[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/AppIcon.appiconset/128x128@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/BucketIcon.imageset/bucket@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/DriveErrorIcon.imageset/hdd@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/PasswordIcon.imageset/lock@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/ShowPasswordIcon.imageset/invisible@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconOffline.imageset/Tray_offline.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/DrivePlayIcon.imageset/hdd@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconPause.imageset/Tray_pause@2x.png filter=lfs diff=lfs merge=lfs -text
Provider/Provider.xcassets/AppIcon.appiconset/256x256@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/InfoIcon.imageset/circle@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/MFAIcon.imageset/verified_user.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/AppIcon.appiconset/256x256@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/EmailIcon.imageset/full.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconOffline.imageset/Tray_offline[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/WarningIcon.imageset/report_problem@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconOffline.imageset/Tray_offline@3x[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/UserIcon.imageset/accessibility@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/images/Tutorial3.imageset/image.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/BucketIcon.imageset/bucket.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/DriveSyncIcon.imageset/hdd@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/DropdownIcon.imageset/expand_more@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/EmailIcon.imageset/full@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIcon.imageset/Tray_general.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/FinderIcon.imageset/Finder_general@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIcon.imageset/Tray_general@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/WarningIcon.imageset/report_problem@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/AppIcon.appiconset/512x512.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/DropdownIcon.imageset/expand_more.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/EmailIcon.imageset/full@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconInfo.imageset/Tray_action_needed@2x[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconSync.imageset/Tray_synchronizing@2x[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/BucketIcon.imageset/bucket@3x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/FolderIcon.imageset/folder.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconInfo.imageset/Tray_action_needed@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/images/Tutorial1.imageset/image.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/images/Tutorial1.imageset/image@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/AppIcon.appiconset/128x128.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/DriveSyncIcon.imageset/hdd@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/FinderIcon.imageset/Finder_general.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/FolderIcon.imageset/folder@2x.png filter=lfs diff=lfs merge=lfs -text
CubbitDS3Sync/Assets/Assets.xcassets/icons/TrayIconError.imageset/Tray_error@3x[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
