Assets filter=lfs diff=lfs merge=lfs -text
Assets/*.png filter=lfs diff=lfs merge=lfs -text
DS3Drive/Assets/**/*.png filter=lfs diff=lfs merge=lfs -text
DS3DriveProvider/**/*.png filter=lfs diff=lfs merge=lfs -text
