<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionFileProviderDocumentGroup</key>
		<string>group.X889956QSM.io.cubbit.DS3Drive</string>
		<key>NSExtensionFileProviderSupportsEnumeration</key>
		<true/>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.fileprovider-nonui</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).FileProviderExtension</string>
		<key>NSExtensionFileProviderActions</key>
		<array>
			<dict>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>io.cubbit.DS3Drive.DS3DriveProvider.action.copyS3URL</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Copy S3 URL</string>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>TRUEPREDICATE</string>
			</dict>
			<dict>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>io.cubbit.DS3Drive.DS3DriveProvider.action.evictItem</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Remove Download</string>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>TRUEPREDICATE</string>
			</dict>
			<dict>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>io.cubbit.DS3Drive.DS3DriveProvider.action.restoreFromTrash</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Restore from Trash</string>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>TRUEPREDICATE</string>
			</dict>
		</array>
		<key>NSFileProviderDecorations</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>io.cubbit.DS3Drive.DS3DriveProvider.synced</string>
				<key>BadgeImageType</key>
				<string>com.apple.fileprovider.decoration.badge.system-symbol</string>
				<key>Label</key>
				<string>Synced</string>
				<key>Category</key>
				<string>Badge</string>
				<key>BadgeImageName</key>
				<string>checkmark.circle.fill</string>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>io.cubbit.DS3Drive.DS3DriveProvider.syncing</string>
				<key>BadgeImageType</key>
				<string>com.apple.fileprovider.decoration.badge.system-symbol</string>
				<key>Label</key>
				<string>Syncing</string>
				<key>Category</key>
				<string>Badge</string>
				<key>BadgeImageName</key>
				<string>arrow.triangle.2.circlepath</string>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>io.cubbit.DS3Drive.DS3DriveProvider.error</string>
				<key>BadgeImageType</key>
				<string>com.apple.fileprovider.decoration.badge.system-symbol</string>
				<key>Label</key>
				<string>Error</string>
				<key>Category</key>
				<string>Badge</string>
				<key>BadgeImageName</key>
				<string>xmark.circle.fill</string>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>io.cubbit.DS3Drive.DS3DriveProvider.cloudOnly</string>
				<key>BadgeImageType</key>
				<string>com.apple.fileprovider.decoration.badge.system-symbol</string>
				<key>Label</key>
				<string>Cloud Only</string>
				<key>Category</key>
				<string>Badge</string>
				<key>BadgeImageName</key>
				<string>cloud.fill</string>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>io.cubbit.DS3Drive.DS3DriveProvider.conflict</string>
				<key>BadgeImageType</key>
				<string>com.apple.fileprovider.decoration.badge.system-symbol</string>
				<key>Label</key>
				<string>Conflict</string>
				<key>Category</key>
				<string>Badge</string>
				<key>BadgeImageName</key>
				<string>exclamationmark.triangle.fill</string>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>io.cubbit.DS3Drive.DS3DriveProvider.trashed</string>
				<key>BadgeImageType</key>
				<string>com.apple.fileprovider.decoration.badge.system-symbol</string>
				<key>Label</key>
				<string>Trashed</string>
				<key>Category</key>
				<string>Badge</string>
				<key>BadgeImageName</key>
				<string>trash.fill</string>
			</dict>
		</array>
	</dict>
	<key>NSFileProviderDomain</key>
	<dict>
		<key>NSFileProviderDomainDisplayName</key>
		<string>Cubbit DS3 Drive</string>
	</dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleSymbolName</key>
			<string>cubbit.fill</string>
			<key>CFBundleIconFile</key>
			<string>AppIcon</string>
		</dict>
	</dict>
</dict>
</plist>
